:root {
	--background: #ffffff;
  --container: #fafafa;
  --text-primary: #111111;
}

.dark {
  --background: #111111;
  --container: #1f1f1f;
  --text-primary: #ffffff;
}

* {
	outline: none;
	background: none;
	color: var(--text-primary);
	margin: 0;
	padding: 0;
	transition: all ease 300ms;
}

a {
	color: #4AA570;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	text-decoration: line-through;
}

body {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 40px;

	min-height: calc(100vh - 200px);
	padding: 100px;

	background: var(--background);
	font-family: 'Roboto', sans-serif;
}

header{
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	width: 100%;
	height: 100px;
	padding: 25px;
}

.logo {
	display: block;
	width: 50px;
	height: 50px;
	background: url('./images/logo.png') ;
	background-size: cover;
}

#theme-switcher {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

body > div {
	display: flex;
	justify-content: space-between;

	height: 40vh;
	box-sizing: border-box;

	background: var(--container);

	border-radius: 5px;
	border: 1px solid #c4c4c4;
}

body > div {
	display: flex;
	justify-content: space-between;

	min-height: 40vh;
	box-sizing: border-box;

	border: 1px solid #c4c4c4;
	border-radius: 10px;
}

body > div:hover {
	box-shadow: 0 0 5px #ccc;
}

.project .content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;

	height: 100%;
	width: 50%;
	padding: 50px;
	box-sizing: border-box;
}

.project .content h2, .article h2{
	font-size: 36px;
	font-weight: bold;
	color: var(--text-primary)
}

.project .content p, .article p{
	font-size: 18px;
	color: #777;
}

.project .illustration {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100%;
	width: 50%;
	padding: 50px;
	box-sizing: border-box;

	border-radius: 10px;
	background: #4AA570;
}

.project .illustration img {
	height: 100%;
}

.article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 50px;
	box-sizing: border-box;
}

@media only screen and (max-width: 1580px) {
	body {
		grid-template-columns: 1fr;
		padding: 100px 25px;
	}
}

@media only screen and (max-width: 1080px) {
	body {
		grid-template-columns: 1fr;
		padding: 100px 25px;
	}

	body > div {
 		grid-area: auto !important;
		 width: calc(100vw - 50px);
	}

	.project {
		flex-direction: column-reverse;
		height: 60vh;
	}

	.project .content, .project .illustration {
		height: 50%;
		padding: 25px;
		width: 100%;
	}

	/* !! need fix */
	.article {
		display: none;
	}
}
